.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2px;
    background-color: #E5E5E5;
    border: 2px solid #E5E5E5;
    height: 90vh;
}

/*.calendar-container {*/
/*    min-width: 130px;*/
/*    min-height: 130px;*/
/*    height: 100%;*/
/*    background-color: white;*/
/*    padding: 10px;*/
/*}*/

/*.calendar-date {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*.calendar-container h2 {*/
/*    font-size: 12px;*/
/*    font-weight: bold;*/
/*    color: black;*/
/*}*/

/*.current {*/
/*    background-color: #EDF8EB;*/
/*}*/

/*.calendar-event {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 20px 0;*/
/*    background-color: #E5E5E5;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    min-height: 30px;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*.calendar-event div:first-child {*/
/*    margin-right: 20px;*/
/*}*/
